In [1]:
import pandas as pd
import glob
import os
import matplotlib.pyplot as plt
import numpy as np

In [5]:
data = pd.read_csv("/Users/physarah/Desktop/extra_data_with_versions.csv")

data['norad_id'] = [norad_id.rstrip('C') for norad_id in data['norad_id']]
data['norad_id'] = [norad_id.rstrip('U') for norad_id in data['norad_id']]

# data['norad_id'] = [norad_id + '1' if norad_id == '5374' else norad_id for norad_id in data['norad_id']]
# data['norad_id'] = [norad_id + '1' if norad_id == '5084' else norad_id for norad_id in data['norad_id']]

In [6]:
# Function to format norad_id to the desired string format
def format_filename(norad_id):
    return f'sat{str(norad_id).zfill(9)}.txt'

# Apply the function to create the new 'filename' column
data['tle_filename'] = data['norad_id'].apply(format_filename)

In [7]:
# Initialize three lists for lines 9, 10, and 11
line_9_list = []
line_10_list = []
line_11_list = []

# Open the file in read mode
with open(file_path, 'r') as file:
    # Iterate through each line and append to the respective lists
    for i, line in enumerate(file, 1):
        if i == 10:
            line_9_list.append(line.strip())
        elif i == 11:
            line_10_list.append(line.strip())
        elif i == 12:
            line_11_list.append(line.strip())

# Display the contents of the lists
print("Line 9:", line_9_list)
print("Line 10:", line_10_list)
print("Line 11:", line_11_list)

NameError: name 'file_path' is not defined

In [8]:
line_9_list = []
line_10_list = []
line_11_list = []

for i in data['tle_filename']:
    file_path = f'/Users/physarah/Desktop/ephemris/{i}'
    line_count = sum(1 for line in open(file_path))
    if line_count/3 == 5:   
        with open(file_path, 'r') as file:
            # Iterate through each line and append to the respective lists
            for i, line in enumerate(file, 1):
                if i == 7:
                    line_9_list.append(line.strip())
                elif i == 8:
                    line_10_list.append(line.strip())
                elif i == 9:
                    line_11_list.append(line.strip())
    else:
        with open(file_path, 'r') as file:
            # Iterate through each line and append to the respective lists
            for i, line in enumerate(file, 1):
                if i == 10:
                    line_9_list.append(line.strip())
                elif i == 11:
                    line_10_list.append(line.strip())
                elif i == 12:
                    line_11_list.append(line.strip())

In [9]:
data['tle1'] = line_9_list
data['tle2'] = line_10_list
data['tle3'] = line_11_list

In [10]:
data

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,source_mean,source_median,source_sum,source_rate,sky_mean,sky_median,sky_sum,...,zenith_angle,km_distance,sunsep,sat_name,norad_id,v_type,tle_filename,tle1,tle2,tle3
0,0,0,0,35233.334247,35118.791613,1.339041e+07,6.163715e+06,34935.498433,34940.145922,6.146123e+06,...,46.394563,516.370263,75.271749,starlink-1780-46684C,46684,V1.0,sat000046684.txt,STARLINK-1780,1 46684U 20073Q 24042.81620925 .00003548 0...,2 46684 53.0557 39.3577 0001290 75.1241 284...
1,1,1,1,35867.551933,35459.264689,1.362973e+07,6.273876e+06,35110.664536,35121.908080,6.172927e+06,...,46.684497,521.213667,75.489281,starlink-1780-46684C,46684,V1.0,sat000046684.txt,STARLINK-1780,1 46684U 20073Q 24042.81620925 .00003548 0...,2 46684 53.0557 39.3577 0001290 75.1241 284...
2,2,2,2,35922.270519,35487.928144,1.364997e+07,6.283189e+06,35140.064079,35114.222706,6.183768e+06,...,46.986268,526.298150,75.715892,starlink-1780-46684C,46684,V1.0,sat000046684.txt,STARLINK-1780,1 46684U 20073Q 24042.81620925 .00003548 0...,2 46684 53.0557 39.3577 0001290 75.1241 284...
3,3,3,3,35482.433375,35368.796718,1.348572e+07,6.207584e+06,35232.702832,35231.415674,6.195693e+06,...,47.271700,531.148709,75.930418,starlink-1780-46684C,46684,V1.0,sat000046684.txt,STARLINK-1780,1 46684U 20073Q 24042.81620925 .00003548 0...,2 46684 53.0557 39.3577 0001290 75.1241 284...
4,4,4,4,35413.277633,35366.526355,1.345905e+07,6.195309e+06,35329.991243,35311.755119,6.217287e+06,...,47.609161,536.936214,76.184275,starlink-1780-46684C,46684,V1.0,sat000046684.txt,STARLINK-1780,1 46684U 20073Q 24042.81620925 .00003548 0...,2 46684 53.0557 39.3577 0001290 75.1241 284...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131,2131,21,21,40679.257186,40677.023439,1.546230e+07,6.515465e+06,40548.209205,40590.111344,7.133830e+06,...,55.067179,682.312382,92.082091,starlink-1136-45089U,45089,V1.0,sat000045089.txt,STARLINK-1136,1 45089U 20006AX 24043.28572412 -.00000020 0...,2 45089 53.0562 42.3328 0001483 103.2449 256...
2132,2132,22,22,40795.061048,40786.504512,1.550765e+07,6.534578e+06,40730.393499,40728.395630,7.167775e+06,...,55.278080,686.976800,92.219941,starlink-1136-45089U,45089,V1.0,sat000045089.txt,STARLINK-1136,1 45089U 20006AX 24043.28572412 -.00000020 0...,2 45089 53.0562 42.3328 0001483 103.2449 256...
2133,2133,23,23,41025.053147,41020.506359,1.559287e+07,6.570488e+06,40939.275723,40939.410187,7.201783e+06,...,55.521164,692.397310,92.378728,starlink-1136-45089U,45089,V1.0,sat000045089.txt,STARLINK-1136,1 45089U 20006AX 24043.28572412 -.00000020 0...,2 45089 53.0562 42.3328 0001483 103.2449 256...
2134,2134,24,24,41205.017338,41214.954899,1.566387e+07,6.600403e+06,41079.297486,41026.532017,7.227100e+06,...,55.724906,696.977559,92.511733,starlink-1136-45089U,45089,V1.0,sat000045089.txt,STARLINK-1136,1 45089U 20006AX 24043.28572412 -.00000020 0...,2 45089 53.0562 42.3328 0001483 103.2449 256...
2135,2135,25,25,41614.897413,41605.520687,1.582006e+07,6.666217e+06,41514.784114,41506.962919,7.306750e+06,...,56.163523,706.954626,92.797820,starlink-1136-45089U,45089,V1.0,sat000045089.txt,STARLINK-1136,1 45089U 20006AX 24043.28572412 -.00000020 0...,2 45089 53.0562 42.3328 0001483 103.2449 256...

In [ ]:
data.to_csv()